.body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.leftSide{
  padding-left: 5px;
  min-width: 15%;
  border-right: .5px dashed grey;
}
.leftSide p{
  font-weight: 800;
}

.leftSide button{
  margin: 15px 0 0 0 ;
  color: red;
}

ul {
  list-style: none;
  margin: 2px 0 0 10px;
  padding-left: 0;
}

.rightSide{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: 80%;
  border-left: 1px dashed grey
}

.fileDropDiv{
  text-align: center;
  border-bottom: 1px solid black;
  min-width: 50%;
}


.answer{
 max-width: 90%;
 text-align: center;
}

/* target phones */
@media (max-width: 639px) {  
  .leftSide{
    min-width: 20%;
  }
  .rightSide{
    min-width: 60%;
  }
  .query{
    max-width: 80%;
  }
  
}