version: "3.9"

services:
  backend:
    build: ./backend
    container_name: rag-backend
    ports:
      - "8082:8082"
    volumes:
      - ./backend/data:/app/data
    restart: unless-stopped

  frontend:
    build: ./rag-frontend
    container_name: rag-frontend
    ports:
      - "3002:3002"
    depends_on:
      - backend
    restart: unless-stopped
